{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h2>Evènements à venir</h2>

        <div id="calendrier" class="my-5"></div>



        {% for e in evenements %}
            <a href="#" style="text-decoration: none;">
                <div class="card text-white bg-secondary mb-3" style="max-width: 90rem;">
                    <div class="card-header">{{ e.lieuDestination.nom }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ e.nom }}</h4>
                        <p class="card-text">{{ e.description | nl2br }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js" integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/locales-all.min.js" integrity="sha256-GcByKJnun2NoPMzoBsuCb4O2MKiqJZLlHTw3PJeqSkI=" crossorigin="anonymous"></script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                aspectRatio: 2.5,
                //height: auto,
                //contentHeight: 600,
                themeSystem: 'bootstrap',
                eventClick: function(info){
                  let eventId = info.event.id;
                  let url = '{{ path('evenement_detail', {'id' : 'eventId'}) }}';
                  url = url.replace("eventId", eventId);
                  window.location.href = url;
                },
                events: {{ dataEvents|raw }},
                editable : false, //pouvoir bouger les évènements sur le planning
                eventResizableFromStart: false, //pouvoir étendre les évènements sur le planning
            })
            calendar.render()
        }
    </script>

    {{ parent() }}
{% endblock %}