{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

{#                <div class="card m-3" style="border: none; box-shadow: 0.1rem 0.1rem 0.3rem #a8a7a7;">#}
{#                    <div class="card-body">#}
{#                        <div class="d-flex">#}
{#                            <img src="{{ asset('img/icon/dart-board.png') }}"#}
{#                                 alt="icone covoiturage"#}
{#                                 class="icone-cible">#}
{#                            <h5 class="card-title ms-3 mt-1">Vos évènements</h5>#}
{#                        </div>#}
{#                        <p class="card-text text-info">2 inscriptions en attente</p>#}
{#                        <p class="card-text">3 inscriptions validées</p>#}
{#                    </div>#}
{#                </div>#}

{#                <a href="{{ path('main_home') }}">#}
{#                    <img src="{{ asset('img/logo/logo.png') }}"#}
{#                         alt="logo du club" class="logo-titre">#}
{#                </a>#}
            </div>

            <div class="col-md-6">
                <h1>Les archers de Liffré</h1>
{#                <a href="#"><h2 class="text-success letter-space letter-glowy letter-reflect">Espace membre</h2></a>#}
            </div>

            <div class="col-md-3">
{#                <div class="card m-3" style="border: none; box-shadow: 0.1rem 0.1rem 0.3rem #a8a7a7;">#}
{#                    <div class="card-body">#}
{#                        <div class="d-flex">#}
{#                            <img src="{{ asset('img/icon/side-car.png') }}"#}
{#                                 alt="icone covoiturage"#}
{#                                 class="icone-voiture">#}
{#                            <h5 class="card-title ms-3 mt-1">Vos trajets</h5>#}
{#                        </div>#}
{#                        <p class="card-text text-warning">2 demandes en attente</p>#}
{#                        <p class="card-text">3 attentes de confirmation</p>#}

{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <br>

    <div class="container">

        <h2 class="mt-4">Evènements à venir</h2>
        {# todo: mose en forme du hover sur les éléments du calendrier #}
        <div id="calendrier" class="my-5"></div>

        <div class=" mt-5">
            <div class="row">
                <div class="col-md-3">

                </div>

                <div class="col-md-6">
                    <h2 class="my-5">Derniers évènements</h2>
                </div>

                <div class="col-md-3">

                </div>
            </div>

        </div>

        {% for a in articles %}

        <div  class="mt-3 mb-5">

            <div class="title-past d-flex">
                <h4 class="m-0 p-0">{{ a.titre }}</h4>
                {% if is_granted("ROLE_SECRETAIRE") %}
                <a href="{{ path('article_update', {'id': a.id}) }}" class="ms-3"><i class="bi bi-pencil"></i></a>
                <a href="{{ path('article_delete', {'id': a.id}) }}" class="ms-3"><i class="bi bi-trash"></i></a>
                {% endif %}
            </div>
            <div style="color: #424246">
                <div class="row">
                    <div class="leftdiv col-md-8">
                        <p>{{ a.description|nl2br }}</p>
                    </div>

                    {% if a.photos is not empty %}
                        <div id="carousel{{ a.id }}" class="col-md-4 carousel slide m-0 p-0" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% set nbImage = 0 %}

                                {% for p in a.photos %}
                                    {% set nbImage = nbImage + 1 %}

                                        <div class="carousel-item {{ nbImage == 1 ? 'active' }}">
                                            <img class="d-block w-100 image-min" src="{{ asset('img/photo/article/'~p.image) }}" alt="...">
                                        </div>

                                {% endfor %}

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ a.id }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ a.id }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Injection et mise en forme du calendrier #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js" integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/locales-all.min.js" integrity="sha256-GcByKJnun2NoPMzoBsuCb4O2MKiqJZLlHTw3PJeqSkI=" crossorigin="anonymous"></script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                aspectRatio: 2.5,
                //height: auto,
                //contentHeight: 600,
                themeSystem: 'bootstrap',
                eventClick: function(info){
                  let eventId = info.event.id;
                  let url = '{{ path('evenement_detail', {'id' : 'eventId'}) }}';
                  url = url.replace("eventId", eventId);
                  window.location.href = url;
                },
                events: {{ dataEvents|raw }},
                editable : false, //pouvoir bouger les évènements sur le planning
                eventResizableFromStart: false, //pouvoir étendre les évènements sur le planning
            })
            calendar.render();
        }
    </script>

{% endblock %}

