{% extends 'base.html.twig' %}

{% block title %}
    Evenement | {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">

    <h2>Prochainement</h2>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if is_granted("ROLE_SECRETAIRE") %}
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('evenement_create') }}">
                            <button type="button" class="btn btn-primary btn-lg my-3 btn-event pastel">Créer un évènement</button>
                        </a>
                    </div>

                {% endif %}
                {% for e in evenements %}
                    <a href="{{ path('evenement_detail', {'id' : e.id}) }}">
                        <div class="card border-primary mb-3 card-clickable">
                            <div class="card-header text-primary">{{ e.lieuDestination.nom }}{{" le "~e.dateHeureDebut|date('d/m/Y', 'Europe/Paris') }}</div>
                            <div class="card-body">
                                <h4 class="card-title text-primary">{{ e.nom }}</h4>
                                <p class="card-text text-primary">{{ e.description | nl2br }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-md-2"></div>

        </div>


</div>
{% endblock %}



