{% extends 'base.html.twig' %}

{% block title %}
    Admin | {{ parent() }}
{% endblock %}

{% block body %}

<h2 class="my-5">Espace admin</h2>

<div class="container">

    <div class="row">

        <div class="col">
            <h4>Profil de l'admin</h4>
            {{ form_start(adminForm) }}
            {{ form_widget(adminForm) }}
            <button class="btn btn-primary mt-4">Modifier</button>
            {{ form_end(adminForm) }}
        </div>

        <div class="col">
            <h4>Liste types d'arme </h4>
            <div  class="table-wrapper-scroll-y-arme my-custom-scrollbar-arme">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Sigle</th>
                        <th scope="col">Désignation</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <div>
                        <tbody>
                        {% for a in armes %}
                            <tr>
                                <td>{{ a.sigle }}</td>
                                <td>{{ a.designation}}</td>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="{{ path('arme_delete', {'id': a.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
            {{ form_start(armeForm) }}
                                    <td>
                                        {{ form_widget(armeForm.sigle) }}

                                    </td>
                                    <td>
                                        {{ form_widget(armeForm.designation) }}

                                    </td>
                                    <td>
                                        <button class="btn  btn-sm btn-secondary">Créer</button>
                                    </td>
                            </tr>
                        </tbody>
                    </div>
                </table>
            </div>
            <span class="erreur-assert">
                {{ form_errors(armeForm.sigle) }}
                {{ form_errors(armeForm.designation) }}
            </span>
            {{ form_end(armeForm) }}

            <h4 class="mt-4">Photo du club</h4>
            <p>Cette image s'affiche par défaut à la création d'un évènement</p>
            <img class="my-2" style="max-width: 450px;" src="{{ asset('img/photo/evenement/defaut.jpg') }}" alt="">


            {{ form_start(photoForm) }}
            {{ form_widget(photoForm) }}
            <button class="btn btn-primary mt-4">Changer la photo</button>
            <div class="text-secondary">(Format JPG)</div>
            {{ form_end(photoForm) }}
        </div>

        <div class="col ms-5">
            <h4>Adresse du club</h4>
            {{ form_start(adresseForm) }}
            {{ form_widget(adresseForm) }}
            <button class="btn btn-primary mt-4">Modifier</button>
            {{ form_end(adresseForm) }}
        </div>

    </div>

</div>

{% endblock %}
