{% extends 'base.html.twig' %}

{% block title %}
    Etapes | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="event-title text-primary">{{ evenement.nom }}</h2>
        <h4 class="d-flex justify-content-center">Validation des demandes d'inscriptions</h4>

        {% for e in etapes %}
            <table class="table my-5">
                <thead>
                    <tr class="delete-m-p">
                        <th class="delete-m-p" colspan="7">
                            <h4>{{ e.nom }} le {{ e.dateHeureDebut | date('d/m/Y', 'Europe/Paris') }} à {{ e.dateHeureDebut | date('H:i', 'Europe/Paris') }} {{ e.arme ? "("~e.arme.designation~")" }}</h4>
                        </th>
                        <th>
                            <span id="msg-error-{{ e.id }}" style="color: #B0413E;"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Date demande</th>
                    <th>E-mail</th>
                    <th>Tél</th>
                    <th>Lat</th>
                    <th>Catégorie</th>
                    <th>Type licence</th>
                    <th id="placeCounter-{{ e.id }}" data-places="{{ e.nbInscriptionsMax|number_format }}">
                        {% if e.nbInscriptionsMax is not null %}
                            <div  style="text-align: center;">
                                <div style="display: inline;">Places :</div> <div style="display: inline" id="counter-{{ e.id }}">{{e.nbInscriptionsMax }}</div>
                            </div>

                        {% endif %}
                    </th>
                </tr>
                    {% for i in e.inscriptionEtapes %}
                        <tr>
                            <td class="delete-m-p" style="max-width: 30rem;">
                                {% if i.commentaire %}

                                    <div class="accordion accordion-flush" id="commentaire-{{ i.membre.id }}">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header btn btn-lg" id="flush-headingOne" style="margin: 0; padding: 0;">
                                                <a href="#"
                                                   class="collapsed"
                                                   type="button"
                                                   data-bs-toggle="collapse"
                                                   data-bs-target="#flush-collapseOne-{{ i.membre.id }}"
                                                   aria-expanded="false"
                                                   aria-controls="flush-collapseOne-{{ i.membre.id }}"
                                                   style="margin: 0; padding: 0;">
                                                    <small><i class="bi bi-chat-dots-fill"></i></small>
                                                </a>
                                            </h2>
                                            <div id="flush-collapseOne-{{ i.membre.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">{{ i.commentaire }}</div>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </td>
                            <th scope="row">{{ i.membre.prenom }} {{ i.membre.nom | upper }} </th>
                            <td>{{ i.dateHeureInscription | date('d/m/Y', 'Europe/Paris') }} à {{ i.dateHeureInscription | date('H:i', 'Europe/Paris') }}</td>
                            <td>{{ i.membre.email }}</td>
                            <td>{{ i.membre.telMobile }}</td>
                            <td>{{ i.membre.lateralite }}</td>
                            <td>{{ i.membre.categorieAge }}</td>
                            <td>{{ i.membre.typeLicence }}</td>
                            <td>

                                <button id="btn-activate-{{ i.id }}" data-id="{{ i.id }}" data-etape="{{ i.etape.id }}" class="btn btnAction {{ i.validation ? "btn-success" : "btn-secondary"}}">{{ i.validation ? "Annuler" : "Valider" }}</button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        <a href="{{ path('evenement_detail', {'id' : evenement.id}) }}">
            <button class="btn btn-lg btn-primary mt-4">Retour</button>
        </a>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        //déclaration des boutons
        let btns = document.querySelectorAll(".btnAction")
        //let nbPlaces = parseInt(placeCounter.dataset.places);

        btns.forEach(btn => {
            btn.addEventListener("click", function(){

                //déclaration des variables inscription et étape associée
                let inscriptionId = this.dataset.id;
                let etapeId = this.dataset.etape;
                let errorMsg = document.getElementById('msg-error-'+etapeId);
                let url = '{{ path('etapes_confirmation', {'id' : 'inscriptionId'}) }}';
                url = url.replace("inscriptionId", inscriptionId);

                //Reset du message d'erreur précédent si besoin
                errorMsg.innerHTML = "";

                fetch(url).then(function(response) {
                    if(!response.ok){
                        if(response.status === 304){
                            errorMsg.innerHTML = "Pas de place disponible !";
                            console.log("Pas de place disponible")
                        }
                        throw Error(response.statusText);
                    }
                    return response;
                }).then(response => {
                    let btnActivate = document.getElementById('btn-activate-'+inscriptionId);

                    if(btnActivate.innerHTML === "Valider"){
                        //renomme le bouton et modifie la mise en forme
                        btnActivate.innerHTML = "Annuler";
                        btnActivate.classList.remove('btn-secondary');
                        btnActivate.classList.add('btn-success');
                        //décrémente le nombre de places dans la div
                        let nbPlaces = parseInt(document.getElementById("counter-"+etapeId).innerHTML);
                        nbPlaces-=1;
                        document.getElementById("counter-"+etapeId).innerHTML = nbPlaces.toString();
                        console.log("Il reste "+nbPlaces+" places");


                    }else{
                        //renomme le bouton et modifie la mise en forme
                        btnActivate.innerHTML = "Valider";
                        btnActivate.classList.remove('btn-success');
                        btnActivate.classList.add('btn-secondary');
                        //incrémente le nombre de places dans la div
                        let nbPlaces = parseInt(document.getElementById("counter-"+etapeId).innerHTML);
                        nbPlaces+=1;
                        document.getElementById("counter-"+etapeId).innerHTML = nbPlaces.toString();
                        console.log("Il reste "+nbPlaces+" places");
                    }

                    //console.log(response.statusText);
                    console.log("Mise à jour statut et nombre de place effectuée");
                }).catch(function (error){
                    console.log(response);
                    console.log("la route est valide mais renvoie une erreur :");
                    console.log(error);
                })
            })
        })

    </script>

    {{ parent() }}
{% endblock %}