{% extends 'base.html.twig' %}

{% block title %}
    Covoiturage | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt-4">

    <h2 class="m-5">Inscriptions et réservations en cours</h2>

        {# tableau des évenements #}
        {% for e in evenements__etapes__inscriptions__membres %}
            <div class="row">
                <div class="col-6 card border-primary">
                    <table class="table">
                        <thead>
                        <tr class="delete-m-p">
                            <th class="delete-m-p" colspan="4">
                                <h4>{{ e.nom }}</h4>
                            </th>
                            <th>
                                <span style="color: #B0413E;"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {# Affichage des étapes #}
                        {% for et in e.etapes %}
                            <tr style=" font-size: 90%;">
                                <th scope="row">{{et.nom}}</th>
                                <td>
                                    Début : {{ et.dateHeureDebut | date('d/m/Y', 'Europe/Paris')  }}
                                    à {{ et.dateHeureDebut | date('H:i', 'Europe/Paris') }}
                                </td>
                                <td>
                                    {% set membres = [] %}
                                    {% for i in et.inscriptionEtapes %}
                                        {% set membres = membres|merge([i.membre]) %}
                                    {% endfor %}

                                    {% if app.user not in membres %}
                                        <p>Non inscrit</p>
                                    {% endif %}

                                    {% for i in et.inscriptionEtapes %}
                                        {% if app.user == i.membre %}
                                            {% if i.validation == 0 %}
                                                Inscription refusée
                                            {% elseif i.validation == 1 %}
                                                Inscription validée
                                            {% else %}
                                                En attent de validation
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-6">
                    {# Trajets proposés #}
                    <div>
                        {% for t in trajetsConducteur %}
                            {% if e.id == t.evenement.id %}
                            <h5 class="m-2">Demandes pour votre trajet</h5>
                            <ul>
                                <li class="d-flex">
                                    {% for r in t.reservations %}
                                            <i class="bi bi-arrow-bar-right m-2 text-success"></i>
                                            <p class="m-2">{{ r.membre.prenom }}</p>
                                            <p class="m-2">{{ r.membre.nom }}</p>
                                            <button class=" btn btn-sm btn-success">Accepter</button>
                                    {% endfor %}
                                </li>
                            </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row mb-5">
                    {# Liste des trajets associés #}

                        <div class="col"> {# Trajets demandés #}
                            <h5 class="m-2">Vos demandes en tant que passager</h5>
                            <ul>
                            {% for t in trajets__reservations__membres %}
                                {% if t.evenement == e %}
                                <li class="d-flex text-danger">
                                    <i class="bi bi-arrow-bar-right m-2" style="color: #18BC9C"></i>
                                    <p class="my-2 ms-2">{{ t.titre }} :</p>
                                    <p class="my-2 ms-2"> {{ t.organisateur.prenom }} {{ t.organisateur.nom }}</p>
                                    <p class="my-2 ms-2">(Refusé)</p>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>

                        <div class="col">

                        </div>


                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}