{% extends 'base.html.twig' %}

{% block title %}
    Article | {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">

        <h2>Créer un article</h2>
        <div class="d-flex justify-content-center mb-5">
            <div class="d-block">
                <span class="erreur-assert">{{ form_errors(articleForm.titre) }}</span>
                <span class="erreur-assert">{{ form_errors(articleForm.description) }}</span>
                <span class="erreur-assert">{{ form_errors(articleForm.photos) }}</span>
            </div>
        </div>

        {{ form_start(articleForm) }}
        <div class="row">
            <div class="my-2 col-md-8">
                {{ form_label(articleForm.titre) }}
                {{ form_widget(articleForm.titre) }}

            </div>
        </div>

        <div class="row">
            <div class="my-2 col-md-10">
                {{ form_label(articleForm.description) }}
                {{ form_widget(articleForm.description) }}
            </div>
        </div>

        <div class="row">
            <div class="my-2 col-md-4">
                {{ form_label(articleForm.photos) }}
                {{ form_widget(articleForm.photos) }}
            </div>
        </div>

        <div class="m-5">
            <a class="btn btn-secondary" href="{{ path('main_home') }}">Annuler</a>
            <button class="btn btn-primary">Créer</button>
        </div>

        {{ form_end(articleForm) }}
    </div>

{% endblock %}

