{% extends 'base.html.twig' %}

{% block title %}
    Article | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">

        <h2>Modifier l'article</h2>

        {{ form_start(articleForm) }}
        <div class="row">
            <div class="my-2 col-md-8">
                {{ form_label(articleForm.titre) }}
                {{ form_widget(articleForm.titre) }}
            </div>
        </div>

        <div class="row">
            <div class="my-2 col-md-10">
                {{ form_label(articleForm.description) }}
                {{ form_widget(articleForm.description) }}
            </div>
        </div>

        <div class="row">
            <div class="my-2 col-md-4">
                <label for="">Ajouter une photo</label>
                {{ form_widget(articleForm.photos) }}
            </div>
        </div>

        <div class="row">
            {% for p in article.photos %}
                <div class="col-md-2">
                    <img src="{{ asset('/img/photo/article/'~p.image) }}" alt="Image" width="250" height="150">
                    <a href="{{ path('article_delete_image', {'id': p.id}) }}"
                    data-delete data-token="{{ csrf_token('delete'~p.id) }}" class="text-danger">Supprimer</a>
                </div>
            {% endfor %}
        </div>


        <div class="m-5">
            <a class="btn btn-secondary" href="{{ path('main_home') }}">Retour</a>
            <button class="btn btn-primary">Modifier</button>
        </div>



        {{ form_end(articleForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}


